*{
  margin: 0;
}
.boxBlue1{
  height: 100px;
  width: 100px;
  background: blue;
  position: relative;
  left:250px;
}
.boxRed1{
  height: 200px;
  width: 200px;
  background: red;
  position: relative;
  left:350px;
  top:100px;
}

.boxYellow1{
  height: 150px;
  width: 150px;
  background: yellow;
  position: relative;
  left:380px;
  bottom:100px;
}
.boxRed2{
  height: 200px;
  width: 200px;
  position: relative;
  left: 300px;
  top:50px;
  background: red;

}
.boxBlue2{
  height: 100px;
  width: 100px;
  position: relative;
  left:450px;
  z-index: -1;
  background: blue;
}
.boxYellow2{
  height: 150px;
  width: 150px;
  position: relative;
  left:300px;
  top:30px;
  background: yellow;
}
.boxBlue3{
  height: 100px;
  width: 100px;
  background: blue;
  position: relative;
  left:300px;
}
.boxYellow3{
  height: 150px;
  width: 150px;
  position: relative;
  left:400px;
  background: yellow;
}
.boxRed3{
  height: 200px;
  width: 200px;
  position: relative;
  left:445px;
  bottom:100px;
  background: red;
}
.boxYellow4{
  height: 150px;
  width: 150px;
  background: yellow;
  position: relative;
  left:400px;
  top:100px;
}
.boxRed4{
  height: 200px;
  width: 200px;
  background: red;
  position: relative;
  left:475px;
  top:25px;
}
.boxBlue4{
  height: 100px;
  width: 100px;
  background: blue;
  position: relative;
  left:600px;
  bottom:240px;
}
.boxRed5{
  height: 200px;
  width: 200px;
  background: red;
  position: relative;
  left: 150px;
}
.boxBlue5{
  height: 100px;
  width: 100px;
  background: blue;
  position: relative;
  left:225px;
}
.boxYellow5{
  height: 150px;
  width: 150px;
  background: yellow;
  position: relative;
  left:375px;
  bottom: 80px;
}